<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>pre-commit.ci - TITLE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    a {
        color: #3a7db9;
    }

    a:hover {
        color: #343a40;
    }

    h1 small, h2 small, h3 small {
        display: none;
    }

    h1:hover small, h2:hover small, h3:hover small {
        display: inline;
    }

    h2 {
        color: black;
    }

    footer {
        font-size: .825rem;
    }

    /* wrap table headers */
    @media (max-width: 767.98px) {
        .table-bordered td:first-child {
            background: #eff0f2;
        }

        .table-bordered td {
            display: block;
        }
    }

    /* remove double spacing in tables */
    td > :last-child {
        margin: 0;
    }
  </style>
</head>

<body class="bg-secondary">
  <div class="bg-dark text-light">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/">
          <img src="https://pre-commit.ci/img/logo.svg" width="42" height="42">
          pre-commit.ci
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">home</a>
            <a class="nav-item nav-link" href="https://pre-commit.ci">docs</a>
            <a class="nav-item nav-link" href="https://pre-commit.com">pre-commit.com</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="container bg-light text-dark py-4">
    CONTENT
  </div>
  <footer class="container text-light text-center p-2">
    &copy; pre-commit.ci &nbsp;&middot;&nbsp;
    <a class="text-light" href="mailto:info@pre-commit.ci">contact</a> &nbsp;&middot;&nbsp;
    <a class="text-light" href="mailto:security@pre-commit.ci">security</a> &nbsp;&middot;&nbsp;
    <a class="text-light" href="https://pre-commit.ci/privacy_policy.html">privacy policy</a> &nbsp;&middot;&nbsp;
    <a class="text-light" href="https://pre-commit.ci/cookie_notice.html">cookie notice</a> &nbsp;&middot;&nbsp;
    <a class="text-light" href="https://github.com/pre-commit-ci/issues">issues</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
