name: deploy
on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    name: pr
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run: pip install virtualenv
    - run: make
    - run: make push
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
